/* You can add global styles to this file, and also import other style files */
.ml-3 {
    margin-left: 3px;
}

input, p-inputnumber {
    width: 100%;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}